<!-- トップページ -->
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>妖怪ウォッチ</title>
</head>
<body>
  <h1>妖怪ウォッチ キャラクター図鑑</h1>

  <p>
    <a href="/youkai">妖怪一覧を見る</a>
  </p>
</body>
</html>
