<!-- 第二ページキャラクラーの名前を選択，追加機能を入れる -->
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>妖怪一覧</title>
</head>
<body>

<h1>妖怪一覧</h1>

<ul>
  <% youkaiList.forEach((y, index) => { %>
    <li>
      <a href="/youkai/<%= index %>"><%= y.name %></a>
    </li>
  <% }) %>
</ul>

<h2>妖怪追加</h2>
<form action="/youkai/add" method="post">
  名前 <input name="name"><br>
  種族 <input name="tribe"><br>
  説明 <input name="description"><br>
  <button>追加</button>
</form>

<a href="/">トップへ</a>


</body>
</html>
