<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>妖怪ウォッチ</title>
</head>
<body>
  <h2>妖怪一覧</h2>
  <table>
    <tr><th>ID</th><th>名前</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><a href="/youkai/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
</body>
</html>